.component.component-popular__services
  .content-wrapper
    .services-content
      a.services-item.services-item_1(
        style="background-image: url(assets/images/service_item_bg1.jpg)"
        href="fundament.html")
        span.services-item__icon
        span.services-item__title
          | Индивидуальный 
          br
          | проект дома
      a.services-item.services-item_2(
        style="background-image: url(assets/images/service_item_bg2.jpg)"
        href="fundament.html")
        span.services-item__icon
        span.services-item__title
          | Фундамент  
          br
          | ленточный
      a.services-item.services-item_3(
        style="background-image: url(assets/images/service_item_bg3.jpg)"
        href="fundament.html")
        span.services-item__icon
        span.services-item__title
          | Фундамент  
          br
          | монолитная плита
      a.services-item.services-item_4(
        style="background-image: url(assets/images/service_item_bg4.jpg)"
        href="fundament.html")
        span.services-item__icon
        span.services-item__title
          | Монтаж
          br
          | перекрытий
      a.services-item.services-item_5(
        style="background-image: url(assets/images/service_item_bg5.jpg)"
        href="fundament.html")
        span.services-item__icon
        span.services-item__title
          | Монтаж
          br
          | кровли
      a.services-item.services-item_6(
        style="background-image: url(assets/images/service_item_bg6.jpg)"
        href="fundament.html")
        span.services-item__icon
        span.services-item__title
          | Благоустройство
